<!DOCTYPE html>
<html lang="en">

<head>
  <link id="favicon" rel="icon" href="/images/Favicon_Martini_Glass.png" type="image/png" sizes="32x32">

  <link rel="stylesheet" href="/stylesheets/cards.css" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  
  
  <title>
    <%= title %>
  </title>

  