<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>

<h1>Cocktails</h1>
<% cocktails.forEach(cocktail => { %>
 <h3><%= cocktail.name %> </h3>
<% }) %>


</section>

<%- include('../partials/footer') %>