<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>




<section>



<form action="/cocktails" method="POST">

<label>
  <input type="text" name="name" id ="name-input">
</label>

<button type="submit">Add Cocktail</button>





</form>



</section>

<%- include('../partials/footer') %>