<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/new.css" />
  <%- include('../partials/nav') %>




    <main>

      <section class="card">

        <form id="editors" action="/cocktails" method="POST">

          <label class="input-bar">
            Cocktail Name:
            <input class="input" type="text" name="name" id="name-input">
          </label>

          <button class="add-btn" type="submit">Create Cocktail</button>

        </form>

      </section>

    </main>

    <%- include('../partials/footer') %>