<%- include('../partials/html-head') %>
<link id="favicon" rel="icon" href="images/Favicon_Martini_Glass.png" type="image/png" sizes="32x32">
<script defer src="/javascript/main.js"></script>
<%- include('../partials/nav') %>



<main>

<% cocktails.forEach(cocktail => { %>
 
<h1><%= cocktail.name %> </h1>


<% }) %>





</main>







<%- include('../partials/footer') %>